
#background {
    height:95vh;
    width:95vw;
    background-color:lightsteelblue;
    display:flex;
    justify-content: center;
}
@font-face {
    font-family: alarm;
    src: url(font/alarm.ttf);}

span{
    font-size:30px;
}


.background {
    position:absolute;
    width:95vw;
    height:100vh;
    z-index: -1;}

#outerContainer {
    background-color: #cecfc2d8;
    width: 340px;
    height: 530px;
    display:flex;
    justify-content: center;
    margin-top:150px;
    padding: 75px 5px 5px;
    border-radius: 15px 15px 5px 5px;
  
    
    
    
}
/*    
#hood{
    height:100px;
    width:300px;
    background-color:green;} */
    
   


#logo {
    background-color:rgba(0, 0, 0, 0.493);
    border: 1px solid rgba(128, 128, 128, 0.425);
    height:35px;
    width:320px;
    color:rgba(192, 192, 192, 0.5);
    display:flex;
    justify-content:end;

    padding-bottom:5px;
    margin: 7px 0px 5px 0px;
    
    
}

#innerContainer{
    background-color:rgba(0, 0, 0, 0.932);
    height: 500px;
    width:325px;
    padding-top: 0px;
    font-size: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px 40px 0px 0px;
    padding-bottom:15px;
    border: 3px solid #cecfc2d8;
    
}


button{
    margin:7px;
    height:60px;
    width:60px;
    font-size: 20px;
    border-radius: 5px;
    border-color:mistyrose
}

#display{

    color:rgb(255, 10, 10);
    font-size:55px;
    width:320px;
    height:65px;
    background-color: rgb(95, 8, 8);
    border-radius: 40px 40px 3px 3px;
    border: 2px solid rgb(128, 12, 8);

    display:flex;
    justify-content: center;
    font-family: alarm;
}

#displayField{
   
    padding-top: 10px;
    width:280px;
}

 #row1{display:flex;
    justify-content: center;
    margin-top:2px;

 }
 #clear{
    background-color: #cecfc2d8;

 }

 #clearEntry {
    background-color: #cecfc2d8;

 }
 #divide{
    background-color: #cecfc2d8;

 }
#backspace{
    background-color: #cecfc2d8;
 

}

          
#row2{display:flex;
    justify-content: center;

}

#multiply{
    background-color: #cecfc2d8;

}
    
#row3{
    display:flex;
    justify-content: center;

}

#subtract{
    background-color: #cecfc2d8;

}
    
#row4{
    display:flex;
    justify-content: center;
}

#addition{
    background-color: #cecfc2d8;

}
   
#row5{display:flex;
    justify-content: center;

}
#num0{
    background-color:white;
    width:95px;
    height:60px;

}
#decimal{
    background-color:white;
}

#equals{
    background-color:rgba(241, 172, 44, 0.877);
    width:95px;
    height:60px;
    
}  

.num{
    background-color: white;
}